<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered teammodal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" id="modal-close-btn">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h3 id="modal-name"></h2>
              <h6 id="modal-profession"></h2>
                <p>
                    An Architect, experienced in engineering consultancy, driven by architectural conception & ideation. "Architecture is not only to provide a home, or a commercial complex, it should inspire us, make us sense, think, and feel”
                </p>
            </div>
            <div class="col-md-6">
              <img src="../../Assets/Member.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
